<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("b8dc80cc-3428-4bc6-83c3-e34483c1b546");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
